body {
  --ctk-white: #f7f8fb;
  --ctk-blue-gray: #424c53;
  --ctk-red: #e5453d;
  --ctk-gray: #4a4a4a;
  background-image: linear-gradient(-90deg, #5d5d5d 0%, #3f3f3f 26%, #1c1c1c 84%);
  color: var(--ctk-white);
  font-family: Roboto, sans-serif;
}
h1 {
  font-size: 3.5rem;
  text-align: center;
}
h1 span {
  font-size: small;
}
#certik-logo {
  width: 10rem;
  max-width: 50%;
}