#hanoi {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  --plate-height: 2rem;
  --base-thickness: 3px;
  --bar-thickness: 3px;
}
.tower {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  position: relative;
  margin: 1rem;
  width: 30%;
  min-width: 20rem;
  min-height: calc(var(--plate-height) * 5);
  border-bottom: var(--base-thickness) solid var(--ctk-white);
}
.tower-bar {
  position:absolute;
  left: calc(50% - var(--bar-thickness));
  width: var(--bar-thickness);
  height: 100%;
  background: var(--ctk-white);
  z-index: 1;
}
.plate {
  height: var(--plate-height);
  margin: 0 auto;
  margin-bottom: calc(var(--plate-height) / 4);
  background-color: var(--ctk-red);
  cursor: grab;
}
.plate:active {
  cursor: grabbing;
  z-index: 1000;
}
.plate#top    { width: 30%; }
.plate#middle { width: 50%; }
.plate#bottom { width: 70%; }
.swal-footer {
  text-align: center;
}